<div class="left-bar">
    <div class="menu">
        <ul>
            <li><a href="/threads/b">/b/ - бред</a></li>
            <li><a href="/threads/gd">/gd/ - gamedev</a></li>
            <li><a href="/threads/hw">/hw/ - компьютерное железо</a></li>
            <li><a href="/threads/mobi">/mobi/ - мобильные устройства и приложения</a></li>
            <li><a href="/threads/pr">/pr/ - программирование</a></li>
            <li><a href="/threads/ra">/ra/ - радиотехника</a></li>
            <li><a href="/threads/s">/s/ - программы</a></li>
            <li><a href="/threads/t">/t/ - техника</a></li>
            <li><a href="/threads/web">/web/ - веб-мастера</a></li>
            <li><a href="/threads/mochatest">/mochatest/ - для тестов</a></li>
        </ul>
    </div>
</div>