<div class="left-bar">
    <div class="menu">
        <ul>
            <li><a href="/">/b/ - бред</a></li>
            <li><a href="/">/gd/ - gamedev</a></li>
            <li><a href="/">/hw/ - компьютерное железо</a></li>
            <li><a href="/">/mobi/ - мобильные устройства и приложения</a></li>
            <li><a href="/">/pr/ - программирование</a></li>
            <li><a href="/">/ra/ - радиотехника</a></li>
            <li><a href="/">/s/ - программы</a></li>
            <li><a href="/">/t/ - техника</a></li>
            <li><a href="/">/web/ - веб-мастера</a></li>
            <li><a href="/threads/mochatest">/mochatest/ - для тестов</a></li>
        </ul>
    </div>
</div>